body {
	font-family:Arial;
}

#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:1024px;
}

#content {
	text-align:center;
	font-size:150%;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:60%;
}
#controls {
	margin-top:40px;
}
#graphs {
	margin-top: 30px;
	position:relative;
}

.section-header {
	text-align:center;
	font-weight:bold;
	font-size:150%;
	margin-bottom:10px;
}
.left .section-header,
.right .section-header {
}
.section-footer {
	text-align:center;
	color:#888;
	margin-top:10px;
}
.control-desc {
	text-align: center;
}
.control-footer {
	text-align:center;
}
.control-footer a {
	color: #1D47BE;
}
#controls .iphone-toggle-buttons {
	margin-top:10px;
	margin-left:50px;
}
#controls .iphone-toggle-buttons label {
	margin-top:3;
	margin-bottom:7px;
}
#controls .rate {
	width: 30px;
	padding: 6px;
	border:1px solid #BCBBBB;
	font-size:100%;
	text-align:center;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#controls .rate-label {
}
#controls .status {
	display:none;
	margin-bottom: 10px;
}
#controls .status .loader {
	background:transparent url('../images/ajax-loader.gif') no-repeat center center;
	width:102px;
	height:32px;
	vertical-align:top;
	display:inline-block;
}
#controls .status .loader-text {
	color:#888;
	height:32px;
	line-height:32px;
	vertical-align:top;
	display:inline-block;
	margin-left:18px;
}
#controls .status .message {
	text-align:center;
	color:#888;
}

.clear {
	clear:both;
}
.right {
	float:right;
	width:500px;
}
.left {
	float:left;
	width:500px;
}

.iphone-toggle-buttons ul {
	margin:0;
	padding:0;
}
.iphone-toggle-buttons li {
	list-style:none;
}
.iphone-toggle-buttons .toggle-label {
	display:inline-block;
	margin-left:10px;
	font-weight:bold;
}

.lg-load-group {
	margin-top:10px !important;
}


.mem_utilization,
.network_in,
.network_out {
	margin-top:20px;
}

.refresh-wrapper {
	position:absolute;
	display:inline-block;
	right:0;
	top: 11px;
	color: #888;
}



.netscaler-profiles {
	list-style:none;
	margin:0;
	padding:0;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
}
.netscaler-profiles li {
	list-style:none;
	margin:0;
	padding:10px;
	margin-bottom:15px;
	position:relative;
	border-top:1px solid #ccc;
}
.netscaler-profiles li.active {
	background:#E5EEFD;
	border:0;
}
.netscaler-profiles .profile-name {
	font-weight:bold;
	font-size:120%;
}
.netscaler-profiles .profile-desc {
	margin-top:5px;
}
.netscaler-profiles .profile-apply {
	display:inline-block;
	position:absolute;
	top:7px;
	right:7px;
	text-align:right;
}
.netscaler-profiles .profile-apply button {
	cursor:pointer;
	background-color: #4684EE;
	color:white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	padding: 4px 10px;
	font-weight:bold;
}
.netscaler-profiles li.active .profile-apply button {
	cursor:default;
	background-color:#7CA3E6;
}
.netscaler-profiles .profile-apply button.loading {
	margin-right:10px;
	margin-top:-1px;
}

.control-footer .notice {
	font-size:80%;
	color:#888;
}

.webserver_name {
	font-size:110%;
	text-align:center;
	font-weight:bold;
}

.notify {
	text-align:center;
	font-size:110%;
	margin-top:10px;
}
.error {
	color:#AC1D00;
}
.success {
	color:#3BB54B;
}